:root{
  --tableHeadBg: #f7f7f7;
  --tableHeadTextCol: #333;
  --tableHeadBorderCol: #333;
  --tableHeadPadding: 4px;
  --tableHeadTextSize: 14px;
/* ^^^^ large screens only see media queries */

  /* --tableBodyBg: #F7f7f7; */
  --tableBodyTextCol: #121211;
  --tableBodyBorderCol: #EEE9ED;
  --tableBodyPadding: 20px;
  --tableMatchesBodyPadding: 26px;
  --tableBodyTextSize: 24px;
  
  --countryRowStatsTextSize: 22px;
  --countryRowMatchesTextSize: 22px;

  --borderSize: 1px;
  --tableMarginBottom: 10px;

  --showBtnBg: #456de6;
  --showBtnHoverBg: #456de6;
  --showBtnTextCol: #f1f1f1;
  --hideBtnBg: #e74645;
  --hideBtnHoverBg: #e74645;
  --hideBtnTextCol: #f1f1f1;

  --scoreBg: #30a130;
}

.container{
  max-width: 2314px; /* 1528px for 2 col max */
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 750px);
  gap: 32px;
}
h1,h2{
  padding: 10px;
}
h1{
  text-align: center;
}
/*  */
/*  */
.collapse {
    display: flex;
    width: 100%;
}
.collapse button{
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
}
/*  */
/*  */
.toggleHideGroups{
  display: none;
}
.toggleHideMatches{
  display: none;
}
.showBtn{
  background: var(--showBtnBg);
  color: var(--showBtnTextCol);
}
.showBtn:hover{
  background: var(--showBtnHoverBg); 
  color: var(--hideBtnTextCol);
}
.hideBtn{
  background: var(--hideBtnBg); 
  color: var(--hideBtnTextCol);
}
.hideBtn:hover{
  background: var(--hideBtnHoverBg);
  color: var(--showBtnTextCol); 
}
#pivotScreenBtn{
  display: block;
}
/*  */
/*  */

table {
  /* max-width: 750px; */
  width: 100%;
  overflow: hidden;
  background-color: var(--tableBodyBg);;
  border-collapse: separate;
  border-width: var(--borderSize);
  border-color: var(--tableBodyBorderCol);
  border-style: solid;
  color: var(--tableBodyTextCol);
  text-align: center;
  margin-bottom: var(--tableMarginBottom);
}
th{
  cursor: pointer;
}
table td, th {
  border-width: var(--borderSize);
  border-color: var(--tableHeadBorderCol);
  border-style: solid;
}
table thead {
  background-color: var(--tableHeadBg);
  color: var(--tableHeadTextCol);
}
/* control the flag size */
table:not(table.matches) > thead > tr > td{
  height: 105px;
}
.flag{
  background-color: transparent;
  border: 0px;
  /* background-image: url(->dynamically inserted via react prop<-); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: 100% 100%; */
}
thead > tr > th, thead > tr > td{
  padding: var(--tableHeadPadding);
  font-size: var(--tableHeadTextSize);
}
tbody > tr > td{
  padding: var(--tableBodyPadding);
  font-size: var(--tableBodyTextSize);
}
table.matches > tbody > tr > td{
  padding: var(--tableMatchesBodyPadding);
}

.countryRowStats{
  width: 170px;
  font-size: var(--countryRowStatsTextSize);
}
.countryRowMatches{
  font-size: var(--countryRowMatchesTextSize);
}

table.matches .score{
  background-color: var(--scoreBg);
  color: white;
  letter-spacing: 4px;
  font-size: 28px;
}
table.matches td{
  width: 25%;
}
/* empty <td> above team A and B (matches) */
.blank{
  border: 0;
}


/*  */
@media (max-width: 2337px){
  .container{
    max-width: 1564px;
  }
  #matchesBtn {
    width: 50%!important;
    margin-left: 0%!important;
    margin-right: 2%!important;
  }
}
@media (max-width: 1585px){
  .container{
    max-width: 750px;
  }
  .collapse{
    display: flex;
  }
  /* #matchesBtn{
    display: none;
  } */
  button{
    /* width: 100%!important; */
    width: 50%!important;
    /* margin-left: 1%!important; */
  }
  #matchesBtn {
    /* width: 50%!important;
    margin-left: 0%!important; */
    margin-right: 0%!important;
  }
}
@media (max-width: 767px){
  :root{
    --tableBodyTextSize: 18px;
    --countryRowStatsTextSize: 18px;
    --countryRowMatchesTextSize: 18px;
    --tableBodyPadding: 10px 0;
    --tableMatchesBodyPadding: 10px 0;
  }
  .container{
    display: block;
  }
  .collapse{
    display: flex;
  }
  button{
    width: 50%!important;
    margin-left: 10px!important;
    /* margin-right: 10px!important; */
  }
  #matchesBtn {
    margin-right: 10px!important;
  }
  .hideOnTablet{
    display: none;
 }
 table.tabletStatsUi > thead > tr > td{
  font-size: 40px;
 }
 /* control the flag size */
  /* table > thead > tr > td{
    height: 55px;
 } */
  table.matches{
    width: 100%;
 }
  table.matches .score{
    width: 20%;
    font-size: 28px;
 }
  table.matches .teamA{
    min-width: 30%;
  }
}
@media (max-width: 520px){
  :root{
    /* --tableBodyTextSize: 18px; */
    /* --countryRowStatsTextSize: 16px; */
    /* --countryRowMatchesTextSize: 16px; */
    --tableBodyPadding: 10px 0;
    --tableMatchesBodyPadding: 10px 0;
  }
  .hideOnMobile{
    display: none;
  }
  table.matches{
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
 }
  table.matches .teamA{
    min-width: 40%;
  }
  table.matches .score{
    min-width: 10%;
    font-size: 20px;
  }
  table.matches .teamB{
    min-width: 40%;
  }
}
@media (max-width: 380px){
  :root{
    --tableBodyTextSize: 14px;
    /* --countryRowStatsTextSize: 16px; */
    --countryRowMatchesTextSize: 16px;
    --tableBodyPadding: 10px 0;
  }
  table.tabletStatsUi > thead > tr > td{
    font-size: 40px;
 }
  /*  */
  table.matches .teamA{
    min-width: 40%;
  }
  table.matches .score{
    min-width: 10%;
  }
  /*  */
}
@media (max-width: 340px){
  :root{
    --tableBodyPadding: 5px 0;
  }
  table.tabletStatsUi > thead > tr > td{
    font-size: 30px;
 }
  button{
    font-size: .9em!important;
  }
}
@media (max-width: 310px){
  :root{
    --tableBodyPadding: 1px 0;
    --countryRowStatsTextSize: 16px;
    --countryRowMatchesTextSize: 14px;
  }
  table.matches .score{
    font-size: 18px;
  }
  .hideOnTiny{
    display: none;
  }
  button{
    font-size: .8em!important;
  }
}
@media (max-width: 288px){
  h1, h2{
    font-size: 1rem;   
  }
  button{
    font-size: .7em!important;
  }
  table.matches .score{
    font-size: 12px;
  }
}
@media (max-width: 235px){
  :root{
    --countryRowStatsTextSize: 14px;
    --countryRowMatchesTextSize: 12px;
  }
  .collapse{
    display: flex;
    width: 100%;
  } 
  .collapse button{
    width: 50%!important;
    margin: 0!important;
  }
  button{
    font-size: .6em!important;
  }
}

@media (max-width: 2337px){
  #pivotScreenBtn{
    display: none;
  }
}
@media (min-width: 2338px){
  #matchesBtn{
    display: none;
  }
}


/* Load animations */
.splashBg{
  opacity: 1;
  background-image: url(./assets/worldcup_trans_offset_top.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90vh;
  background-attachment: fixed;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 1.1s opacity cubic-bezier(1,.5,.7,1);
}
.splash{
  opacity: 0;
  z-index: -1;
}
/* Load Content */
.wrapper {
  opacity: 0;
  transition: .9s opacity ease-in-out;
}
.fade-in {
  opacity: 1;
}