*{
  margin: 0;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
  user-select: none;
}
html, body{
  height: 100%; /* to correctly size world cup background image splash screen image */
  overflow-x: hidden;
  position: relative;
}
body{
  /* overflow-y: scroll; */
  font-family: sans-serif;
  background-color: #FEFEFE;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: background-color .5s ease-in-out;
}
/* button:hover{
  border: 1px solid #ccc;
  color: #333!important;
} */
